<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info ">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>


                                <div class="card bg-blue-950">
                                    <div class="card-header">
                                        <h4 class="card-title text-white">Edit Profile</h4>
                                        <p class="card-category text-white">Complete your profile</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="grid grid-cols-3 gap-4">
                                                <div class="col-span-2">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Company " >
                                                  </div>
                                                </div>
                                                <div class="col-span-1">
                                                    <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Username">
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-6 gap-4">
                                                <div class="col-span-3">
                                                  <div class="form-group">
                                                      <input type="email" class="form-control" placeholder="Email address">
                                                  </div>
                                                </div>
                                                <div class="col-span-3">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="First Name">
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Address">
                                            </div>
                                            <div class="grid grid-cols-3 gap-4">
                                                <div class="col-span-1">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="City">
                                                  </div>
                                                </div>
                                                <div class="col-span-1">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Country">
                                                  </div>
                                                </div>
                                                <div class="col-span-1">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Postal Code">
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="About Me"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Update Profile</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>


              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" style="height: 150px;" src="https://www.mangamag.fr/wp-content/uploads/2023/06/boruto-uzumaki-fiche-personnage-description.png" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-info btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
